@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: "#4CD695";
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}
section {
  margin: 0 0 5rem 0;
}
.container h2::after {
  content: "";
  background-color: rgb(16, 163, 82);
  display: block;
  width: 50px;
  height: 3px;
  margin: 0 auto;
  /* color: rgb(2, 2, 8) */
}
.container .text-area h2::after {
  content: "";
  background-color: rgb(16, 163, 82);
  display: block;
  width: 50px;
  height: 3px;
  margin-left: 0;
}
.testimony--section {
  background: linear-gradient(
      rgba(255, 255, 255, 0.877),
      rgba(255, 255, 255, 0.897)
    ),
    url("./../public/img/pngwing.com.png");
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
}
form input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px 15px;
  margin-top: 1.2rem;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 0px 5px rgb(175, 172, 172);
  outline: none;
}

nav .hamburger {
  display: none;
}
nav {
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  /* .nav--items {
    position: absolute;
    top: 4.3rem;
    left: 0;
    height: 60vh;
    width: 100%;
    background-color: rgb(243, 165, 21);
    background-color: white;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.37);
    border-radius: 0 0 20px 20px;
    z-index: -10;
    transform: translateY(-120%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  } */
  .nav--items {
    position: absolute;
    top: 5rem;
    left: 0;
    height: 40vh;
    opacity: 0;
    visibility:hidden;
  }
  .nav--active {
    height: 60vh;
  }
  .navItems--on {
    opacity: 1;
    visibility: visible;
  }

  nav .hamburger {
    display: block;
  }
  .nav--items li {
    text-align: left;
    width: 100%;
    padding-left: 2rem;
  }
  .nav--items li a {
    padding: 1rem;
  }
  .nav--items li:last-child a {
    padding: 1rem 3rem;
  }
  .team--section img {
    width: 80%;
    margin: 0 auto;
  }
  .appointment--image {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .appointment--image {
    display: none;
  }
}
